.HomePageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.HomePageHeading{
    
}
.myCarousel,.myCarouselImages{
    width: 700px;
    height: 400px;
}

.myCarouselImages{
}